<section x-data="{ isSidebarOpen: false, isSidebarButtonOpen: true, isSubmenuOpen: false }" class="">

  <form
    @submit.prevent=""
    hx-get="{{ route('home.search') }}"
    hx-target="[hx-room-board]"
    hx-swap="outerHTML"
    hx-trigger="change"
  >
    @include('components/home/sidebar/main')
    @include('components/home/sidebar/submenu_floor')
  </form>

  @include('components/home/sidebar/sidebar_button')
</section>

