<div class="w-full mb-4">
  <label class="input input-bordered flex items-center gap-2">
    <input type="text" name="roomNumber" class="w-full" placeholder="Search Number" />
    <span>
      @svg('iconoir:search', {
          width: 24,
          height: 24,
      })
    </span>
  </label>
</div>
